
@font-face {
  font-family: "GT Pressura Regular";
  font-style: normal;
  font-stretch: normal;
  src: url(GT-Pressura-Regular.woff);
}

body {
  font-family: "GT Pressura Regular";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-size: 100%;
  text-align: center;
  margin: 0;
}

#floater {
  padding: 6px;
  max-width: 400px;
  display: inline-block;
}

#intercreate-icon {
  width: 72px;
  height: 110px;
  display: inline-block;
  background: url(intercreate-icon.svg) no-repeat 0 0;
}

.space-below1 {
  margin-bottom: 5em;
}

.space-top1 {
  margin-top: 4em;
}

.space-top2 {
  margin-top: 2.6em;
}

.space-below2 {
  margin-bottom: 10px;
}

#intercreate-name {
  margin-top: 50px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  color: #505050;
  font-weight: bold;
}

.subtitle {
  font-size: 1.20em;
  line-height: 1.5em;
  color: #a0a0a0;
  font-weight: 100;
  /* letter-spacing: 0.06em; */
}

.subsubtitle {
  font-size: 0.75em;
}

.bar {
  height: 2px;
  width: 2%;
  background-color: #a0a0a0;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .space-below1 {
    margin-bottom: 0;
  }

  #floater {
    max-width:390px;
  }
}

@media screen and (max-width: 390px) {
  .subtitle {
    letter-spacing: 0.11em;
  }

  #floater {
    max-width: 390px;
  }
}

#email {
  color: #a0a0a0;
  text-decoration: none;

}
